@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>
    This website is the result of a project for the course Software Development for the Cloud at Kristianstad University.
    The students responsible for this site are in their 3rd year of the Software Development program.
</p>

<h3>General Description</h3>
<p>
    The requirements of the website application were to use ASP.NET, MySQL, Azure cloud and C# programming.
    The website allows users to share and rate recipes as well as to search these by cuisine and name.
</p>
